:root {
  --sari: #FDC913;
  --acik-gri: #5F5F5F;
  --koyu-gri: #292929;
  --kirmizi: #CE2829;
  --bej: #FAF7F2;
}

* {

}

body{
font-size: 16px;
}

header{
width: 585.13px;
height: 1080.53px;
margin:0;
padding: 0;
background-color: var(--kirmizi);
display: flex;
justify-content: center;
background-image: url(https://s3-alpha-sig.figma.com/img/2b78/c96a/4a4acb450e3bbb3750c05c017efa1f61?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XPVNiteSnTrTt~99xEvdlNzBqt5Tkz9XP46evqjiXPa9K-VytNbNfD1mOcQ4jRxnCM016SVRJxiRkUGSczgg6knFSQeyvuZ7QZqA7XwZx7AnM3IY9VvrJ~rMmNdYGgBtVBTN9tF6p0oeQWko7BB0GjyCPn2OBjIhh2MGC~9tBpQnpiOZS4BllmULjpwQ4Ik49O5K1zCDFMLlopjrBOOgbvTRb-hqV~2GfHKEzWqTdGie8AZ5UAg9hkJH60SEebg~KeD8-M3X7oZCTfdKF0JtGyGbw9kcXylSVLnNpqUHghrPXbf0E1LxFcprbRyti9xK~PCSdyvqxozYwo626IyV4A__);
background-repeat: no-repeat;
background-position: center 120%;
}

.nav-header {
width: 398px;
height: 854px;
margin-left: 5rem;
margin-right: 5rem;
}

#tekno {
width: 100%;
height: 7%;
color: var(--bej);
font-family: "Roboto Condensed";
font-weight: 900;
text-align: center;
margin-top: 30%;
margin-bottom: 2%;
font-size: 3rem;
}


#kod {
font-family: "Roboto Condensed";
font-size: 86px;
font-weight: 300;
line-height: 92px;
letter-spacing: 1.5px;
text-align: center;
color: var(--bej);
margin-bottom: 8%;
margin-top: 10%;
}

#aciktim{
width: 193.47px;
height: 52px;
background-color: var(--sari);
color: var(#292929);
font-family: Barlow;
font-weight: 600;
font-size: 1.3rem;
border-radius: 50px;
border: none;
}

.aci{
  display: flex;
  justify-content: center;
  
}





.orta {
width: 585.13px;
height: 3491px;
}

.menu {
width:100%;
height:9%;
border: 1px solid black;

}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 50px 80px;
  margin-bottom: 50px;
  justify-content:space-around;
  border: 1px solid black;
  gap: 30px 5px;
}
.menu ul li {
  border: 1px solid black;
  display: flex;
  width: 40%;
  align-items: center;
  flex-wrap: wrap;
}

.menu ul li a {
text-decoration: none;
font-family: "Barlow";
font-size: 1.3rem;
font-weight: 500;
text-align: left;
color: black;
border: 1px solid black;
padding-left: 7%;
}

.menu ul li img {
  display: inline-block;
  border: 1px solid black;
}