:root {
  --sari: #FDC913;
  --acik-gri: #5F5F5F;
  --koyu-gri: #292929;
  --kirmizi: #CE2829;
  --bej: #FAF7F2;
}

body, html {
  margin: 0 auto;
  padding: 0;
  max-width:600px;
  width: 100%;
  overflow-x: hidden;
  font-size:16px;

}

header{
background-color: var(--kirmizi);
display: flex;
justify-content: center;
margin:0 auto;
background-size: 200%;
border: none;
height: 60vh;
}

.backgr{
background-image: url(https://s3-alpha-sig.figma.com/img/2b78/c96a/4a4acb450e3bbb3750c05c017efa1f61?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XPVNiteSnTrTt~99xEvdlNzBqt5Tkz9XP46evqjiXPa9K-VytNbNfD1mOcQ4jRxnCM016SVRJxiRkUGSczgg6knFSQeyvuZ7QZqA7XwZx7AnM3IY9VvrJ~rMmNdYGgBtVBTN9tF6p0oeQWko7BB0GjyCPn2OBjIhh2MGC~9tBpQnpiOZS4BllmULjpwQ4Ik49O5K1zCDFMLlopjrBOOgbvTRb-hqV~2GfHKEzWqTdGie8AZ5UAg9hkJH60SEebg~KeD8-M3X7oZCTfdKF0JtGyGbw9kcXylSVLnNpqUHghrPXbf0E1LxFcprbRyti9xK~PCSdyvqxozYwo626IyV4A__);
height:40vh;
background-color: var(--kirmizi)!important;
background-repeat: no-repeat;
border: none;
background-position: center -40%;
background-color:var(--kirmzi);
background-size: 250%;

}
.tekno {
margin: 8vh auto;
display: flex;
flex: 1;
}

.tekno svg{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}


#kod {
font-family: "Roboto Condensed";
font-weight: 200;
font-size: 70px;
width: 70%;
text-align: center;
color: var(--bej);
margin:7% auto;
}
.aci{
  display: flex;
  justify-content: center;
  align-content: center;
}

#aciktim{
margin:auto auto;
background-color: var(--sari);
color: var(#292929);
font-family: Barlow;
font-weight: 500;
border-radius: 50px;
border: none;
padding: 2% 7%;
font-size:16px;
}

.ilk {
  background-color: var(--kirmizi);
  background-image: url(https://s3-alpha-sig.figma.com/img/c436/3ab0/a2144978475fda5e250917960da4ea56?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QWQnIKoFTktHlSIIN1fBm1f-QjIfv7E5~Cz68TaWrjpXjWA9lWyhuVUSyJXr-H9zzbb5BPZAumnmBnxPEQMp-~pL0ihSR6-5XkN3~cYpEZNtrndsotnr9Ufwvl4DC0IV02nbUXVei0I6KYEncWtVBW~AJlWGFM1mzcYlhX6QD~NmwUKV-uxrsLSH3LFEiwYJlEt95cGWOfd~1AE2yQamb39aFcFzMhUUtekcg9uFYy13~BO4kBl9kklhtlBdaeotMmJhk65UCiLr~2TtJxwVty3BaDIRmW482Bn6PQLoBTirepYAYex7ibTN5TnY7JvFcSaaBE0DRwHHuPA1G589Pw__);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
  margin: 5% 4%;
  padding: 5% 8%;
  border-radius: 12px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}

.ilkyazi{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* İçerikleri sola hizalayın */
  gap: 10px; /* Elemanlar arasında boşluk bırakın */
}

.ozel {

  color: white;
  font-family: "Quattrocento";
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 1px;
  margin-top: 0;
  padding-right: 20%;
}

.position{
  font-family: "Barlow";
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  color: white;
  margin-top: 0;
  padding: 2% 2%;
}

.siparis{
  border-radius: 50px;
  font-family: "Barlow";
  font-size: 10px;
  font-weight: 600;
  padding: 4% 7%;
  text-align: center;
  color:var(--kirmizi);
  border: none;
}

.ikinci {
  background-image: url(https://s3-alpha-sig.figma.com/img/6166/ed58/d63154ac0f2a8d7ea2d719fc064bc3f6?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=X8hyRF2XMhml0BH-C59MkUq8cVOa8lDIbbd7tsbmzcPfKYKbUx3g7qY40UDLbGq4-VycJ3qnivqqs8tVs-KEZNOlxXAj8MDlIXSq76b4aZf8XSM6Zv4SOYHlZM4RLNgG0toss3s4SdRko6Wd7aHtXaZLTt2uV0xGa1l4rEc06xuGk9vWRdnQd7QUAkPrze8CnnQnMrlALDdWjLXYyqavI3hzG39ZVkhAsXV08NcOwlV1UZDCId6nvBkvcWK2gRMWNGORIcvwJM4kchThr52f6P-o-zU5jIDppae9XP98TBypRzrOI4G2s1tFlXJVhEW0bn3TXmjHFtLPyrH44rGhog__);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 80%;
  background-color: var(--koyu-gri);
  margin: 2% 4%;
  padding:1% 8% 8%;
  border-radius: 12px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10;
}

.hack{
  font-family: "Barlow";
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color: white;
  padding-right: 40%;
}

.siparis1{
  border-radius: 50px;
  font-family: "Barlow";
  font-size: 10px;
  font-weight: 600;
  padding: 4% 7%;
  text-align: center;
  color:var(--kirmizi);
  border: none;
}

.ucuncu{
  background-color: rgba(250, 187, 0, 0.2);
  background-image: url(https://s3-alpha-sig.figma.com/img/3eca/c553/7e43419d60a8258a07300efc67447fa4?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=p9ax3K-O0tkMYhrdBI5aXUgiBk3SllBakZottm3lNtP9g8bIwHcH~7MUzO4Ro3bOrc-ZA6LAhhuK-6UC-priYvfMSwmdwQxuCgPjnaKB406ahYT39n89xM6SuH0wf4gOJh1dcb5jTLxKaRdPcvNb7U6N2UwIFnQLQl1axRTTBnwLw9UhfGVB93XriBMi1flQ-jITXpPPBVtFsrGC~cFM4rvzOzHbDi0ndB1vzKlptPGZQKSFNh-2-RoHaf1TlB2f925q7H6P-VdmDtfqTGL7YGNnHG7n8XdJ8ILIbeoQkmHyFcBoy53CMoQs0FgvaZ-VVDqrE7qS~kubIWgZkJ4bTw__),url(https://s3-alpha-sig.figma.com/img/b205/d24a/40ed8009ff8742ced4cebd1f21b6c436?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HHfy-ccxxUXWNwffNtjt-62KMix74j-c7sq4AVGS5rlrfZAMkOABTj8HCRf0DcdRFxfAkZFjisMRviTFxDiyEQ1wrzawM5flxORALVys3IriyhfUIle~wWOnA7ApCX9rFBcmRWU3WFESpTF1sm-YLTw9j9mPVOSHhGVkihE-WEOf0KKXSuq~lMFvx8dzjkwakiIX~1hioGkDec4JF7n6kTsPKqjqEBEm45itzr2lljlWOrgLMjbGdJFSf~t39BbqmQJcypIzt0I-uHV9Y-HnqgauJuA0HMBxa3cJ8DLgja6vXqKghq2myHggxI78CBptRhXmiF38e7GXJO3p9XQ4xQ__);
  background-repeat: no-repeat, no-repeat;
  background-size:64%, 100%;
  background-position:90% 30%, 80%;
  margin:7% 4%;
  padding:1% 30% 15% 8%;
  border-radius: 12px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10;
}


.cook{
  font-family: "Barlow";
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
}

span{
  color: var(--kirmizi);
  font-weight: 700;
}

.siparis2{
  border-radius: 50px;
  font-family: "Barlow";
  font-size: 10px;
  font-weight: 600;
  padding: 4% 7%;
  text-align: center;
  color:var(--kirmizi);
  border: none;
}


.encok{
  font-family: Satisfy;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  color: var(--kirmizi);
}

.aciktiran{
  font-family: "Barlow";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.5rem;
  text-align: center;
  margin:0 13%;
}


.ikincimenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 20px 0;
  padding: 0 7%;
  margin: 5px 0 0 0;
}


.ikincimenu ul li a {
text-decoration: none;
font-family: "Barlow";
font-size: 1.1rem;
font-weight: 500;
text-align: left;
padding: 0;
color: black;
padding-left: 4%;
}

.ikincimenu ul li {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding: 1%;
  border-radius: 50px;
  margin-left: auto;
  margin-right:auto;
}

.ikincimenu  ul li:hover{
  background-color: #292929;
}
.ikincimenu li:hover a{
color: white;
}

  
.ikipizzabiham {
  margin: 15% auto 0;
  text-align: center;
}

.foto1{
  width: 70%
}

.img-div{
  margin: 7px auto;
  width: 70%;
}

.term{
  font-family: Barlow;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 0;
}

.term-p{
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.para{
  font-weight: bolder;
  font-size: larger;
  transform: translateY(-4px);
}

.ikiyü{
margin-left: 47%;
}

.foto2{
  margin-top: 15%;
}

footer{
margin-top: 9%;
background-color: var(--koyu-gri);
color: white;
}

.footerbolum{
  padding: 4% 0 0 10%;
}



.teknop{
  font-family: Londrina Solid;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-align: left;
  margin:4% 10% 4% 0;
}

.teknolo address li {
  display: flex;
  list-style-type: none;
  margin-bottom: 4%; 
}



.teknolo address li a{
  color: white;
  margin-left: 15px;
  font-family: "Barlow";
  font-size: 1.1rem;
  font-weight: 200;
  text-align: left;
  text-decoration: none;
}

.teknolo address li img{
width: 30px;
height: 30px;
}

.adres{
  font-family: "Barlow";
  font-size: 1.1rem;
}

.ho{
margin-top: 15%;
font-family: Barlow;
font-size: 1.5rem;
font-weight: 500;
text-align: left;
}

.gg{
list-style-type: none;
padding: 2px 0px 0.5rem 0px;
margin: 0;
}

.gg li{
  font-family: Barlow;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.ins{
font-family: Barlow;
font-size: 1.5rem;
font-weight: 500;
line-height: 2rem;
text-align: left;
padding-top: 5%;
}

.sonlar img{
border-radius: 3px;
margin-bottom: 4%;
padding-right: 3%;
}

.sonlar{
  margin-bottom: 14%;
  padding-right: 0
}
.laststand{
  border-top: 1px groove rgb(80, 74, 74);
display: flex;
justify-content: space-between;
}

.novissime{
font-family: Barlow;
font-size: 1.1rem;
font-weight: 200;
text-align: left;
margin-top: 10%;
margin-bottom:20%;
}

.laststand i{
  font-size: 2rem;
  margin: 9%;
}